server {
    listen ${NGINX_PORT};

    root /usr/share/nginx/html;
    index index.html;

    location /chat {
        proxy_pass ${CHAT_HOST};
    }

    location /graphql {
        proxy_pass ${GRAPHQL_HOST};
    }

    location / {
        try_files $uri /index.html;
    }
}
