watch_file tools/.bazel_env/bin
PATH_add tools/.bazel_env/bin
if [[ ! -d tools/.bazel_env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //tools:bazel_env' to regenerate tools/.bazel_env/bin"
fi
