# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  # Check and format Bazel source files
  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 6.1.0
    hooks:
      - id: buildifier
      - id: buildifier-lint

  # Lint FE source files
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.48.0
    hooks:
      - id: eslint
        args: [--fix]
        files: "[jt]sx?$" # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        verbose: true # ensure warnings are output from eslint
        additional_dependencies:
          # Keep versions in sync with package.json so that IDE/CLI tooling works
          - "eslint@8.48.0"
          - "@typescript-eslint/eslint-plugin@6.17.0"
          - "@typescript-eslint/parser@6.17.0"
          - "eslint-config-prettier@8.8.0"
          - "eslint-plugin-react@7.33.2"

  # Format FE source files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  # Format java source files
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: cdf3a1c9de7de58714ef10a37e47c157c58c26b7
    hooks:
      - id: pretty-format-java
        args: [--autofix, --google-java-formatter-version=1.28.0]

  # Check commit message meets requirements
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
