# e.g. compose with "APOLLO_ELV2_LICENSE=accept pn rover supergraph compose --config ./infra/local/router/schema/supergraph-config.yaml > infra/local/router/schema/supergraph.graphql"
# requires running the sub graphs beforehand
federation_version: =2.5.4
subgraphs:
  task:
    routing_url: http://host.docker.internal:3001/graphql
    schema:
      file: ../../../../projects/organizer/task/src/main/resources/schema/schema.graphqls
  journal:
    routing_url: http://host.docker.internal:3003/graphql
    schema:
      file: ../../../../projects/organizer/journal/src/main/resources/schema/schema.graphqls
