# Apply a tag to HEAD at the beginning of each week.
# We can use this to create semver-looking tags for releases like
# 2020.4.123-abc1234
on:
  schedule:
    # Mondays at 7am UTC / midnight PST
    - cron: "0 7 * * 1"

jobs:
  tagger:
    runs-on: ubuntu-latest
    steps:
      - name: tag HEAD with year.week
        run: |
          curl --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/git/refs \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --data @- << EOF
          {
            "ref": "refs/tags/$(date +%G.%-V)",
            "sha": "${{ github.sha }}"
          }
          EOF
